.game-container{
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(7,auto);
    justify-content: center;
    align-content: center;
    
}

.block{
    margin: auto;
    height: 78px;
    width: 78px;
    background-color: rgb(10, 91, 241);
    border: 1px solid black;
}

h1{
    text-align: center;
}

#cell1{
    border-radius:15px 0px 0px 0px ;
}

#cell7{
    border-radius:0px 15px 0px 0px ;
}

#cell36{
    border-radius:0px 0px 0px 15px ;
}

#cell42{
    border-radius:0px 0px 15px 0px ;
}