.game-container{
    position: relative;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(7,auto);
    justify-content: center;
    align-content: center;
    background-color:blue;
    box-sizing: border-box;
}

.block{
    height: 78px;
    width: 78px;
    background-color: white;
    border: 1px solid black;
    border-radius:100% ;
    margin: 10px;
}

.bottom{
    height: 0px;
    background-color: blue;
    border: blue;
}

h1{
    text-align: center;
}

.winner{
    text-align: center;
}


/* 
#cell1{
   
} */
/* 
#cell7{
    border-radius:0px 15px 0px 0px ;
}

#cell36{
    border-radius:0px 0px 0px 15px ;
}

#cell42{
    border-radius:0px 0px 15px 0px ; */
/* } */