body{
    background-color: rgb(25, 25, 26) ;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(7,auto);
    justify-content: center;
    align-content: center;
    background-color:rgb(54, 54, 243);
    padding-top: 20px;
    padding-bottom: 50px;
    width: 60%;
    margin: auto;
    box-shadow: 10px 10px;
    border-radius: 2%;
}

.block{
    height: 50px;
    width: 50px;
    background-color: rgb(20,49,140);
    border: 1px solid black;
    border-radius:100% ;
    margin: 10px;
    padding: 5px;
    box-sizing: 5px 1px;
}

h1{
    text-align: center;
    color: white;
}

.btn{
    margin: 0 auto;
    display: block;
    padding: 10px;
    box-shadow: 3px 3px;
}
.btn:active {
    background:white;
    box-shadow: inset 10px 10px 5px #c1c1c1;
  }


.current-player{
    display: none;
    text-align: center;
    color: white;
}

.winner{
    text-align: center;
    color: white;
    box-shadow: black;
}


.reset-btn{
    margin: 0 auto;
    display: block;
    box-shadow: 3px 3px;
}
